<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
  <form action="" id="login-f">
    <input type="text" id="username" placeholder="请输入已验证手机/邮箱">
    <input type="password" id="password" placeholder="请输入密码">
    <div id="foget">
      <div id="foget-mima">忘记密码?</div>
    </div>
    <button id="go">
      <a href="http://localhost:3000/loginSuccess" id="go-a">
        登录
      </a>
    </button>


  </form>
  </body>
</html>
